<html>
  <head>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,300i,700" rel="stylesheet">

  <link href='style.css' rel='stylesheet'>
    <meta charset="utf-8">
    
  <title>Travel the world</title>
    
    </head>

  <body>
<div id="banner">
  <h1><strong>How to travel the world</strong></h1>
  <br>
    <p><strong>- Tips to organize your trips -</strong></p>
  <br>
  <a href="#" class="btn btn btn-danger">Discover now</a>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
       <div class="card">
        <img src="images/world-tour.png" alt="world-tour" width="100">
        <h2>World Tour</h2>
        <p>How to go on a world tour <strong>for free!</strong></p>
    </div>     
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/unknown.png" alt="unknown-places" width="100">
      <h2>Unknown Places</h2>
      <p>Discover <strong>unknown places</strong> in the world!</p>
    </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/tickets.png" alt="plane-tickets" width="100">
      <h2>Plane Tickets</h2>
      <p>Best tips for your<strong> plane tickets</strong> purchase!</p>
    </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="card">
      <img src="images/famous.png" alt="famous-places" width="100">
      <h2>Famous Places</h2>
      <p>How to easily access<strong> famous crowded</strong> places!</p>
    </div>
    </div>
  </div>
</div>

<div id="container">
  <div class="row">
  <div class="col-xs-12 col-sm-offset-2 col-sm-8">
  <div id="form-wufoo">

   <div id="wufoo-zon3lzb1kob5oc">
Fill out my <a href="https://aude51.wufoo.com/forms/zon3lzb1kob5oc">online form</a>.
</div>
<script type="text/javascript">var zon3lzb1kob5oc;(function(d, t) {
var s = d.createElement(t), options = {
'userName':'aude51',
'formHash':'zon3lzb1kob5oc',
'autoResize':true,
'height':'393',
'async':true,
'host':'wufoo.com',
'header':'show',
'ssl':true};
s.src = ('https:' == d.location.protocol ? 'https://' : 'http://') + 'www.wufoo.com/scripts/embed/form.js';
s.onload = s.onreadystatechange = function() {
var rs = this.readyState; if (rs) if (rs != 'complete') if (rs != 'loaded') return;
try { zon3lzb1kob5oc = new WufooForm();zon3lzb1kob5oc.initialize(options);zon3lzb1kob5oc.display(); } catch (e) {}};
var scr = d.getElementsByTagName(t)[0], par = scr.parentNode; par.insertBefore(s, scr);
})(document, 'script');</script>

  </div>
  </div>
</div>
</div>

 
<div id="footer">
  <p>[Work in progress] This landing page will soon become a real website !</p>
  <br>
  <ul class="list-inline">
  <li><a href="#"><i class="fa fa-youtube"></i></a></li>
  <li><a href="#"><i class="fa fa-facebook"></i></a></li>
  <li><a href="#"><i class="fa fa-twitter"></i></a></li>
  <li><a href="#"><i class="fa fa-github"></i></a></li>
  </ul>
</div>
  </body>
</html>